<div class="container">
  <div class="jumbotron">
    <h1>DOJO EMBER</h1> 
    <h2>MANUEL ALEJANDRO GÓMEZ ORTEGA</h2>
  </div>
  {{#link-to 'user' class="btn btn-success"}}Ver lista {{/link-to}}  
  
</div>
{{outlet}}
