<div class="jumbo">
  <h2>Ver usuarios</h2>
  {{#link-to 'index' class="btn btn-warning"}}
    Volver al inicio
  {{/link-to}}
  {{#each model as |user|}}
  <article class="listing">
    <span></span>
    <h3>{{user.name}}</h3>
    <h5>{{user.email}}</h5>    	
    {{#link-to 'userpost' user.id class="btn btn-success"}}
      Ver post
    {{/link-to}}
    
  </article>
{{/each}}
</div>
{{outlet}}
